In [1]:
# importing/loading the Pandas libraries as 'pd' 
import pandas as pd 
data = pd.read_excel("data.xlsx")

In [2]:
data

       S.N. Weather Temperature Possible to Play
0   1.        Sunny         Hot              Yes
1   2.        Windy        Cool              Yes
2   3.        Rainy        Mild               No
3   4.        Sunny         Hot              Yes
4   5.        Sunny         Hot              Yes
5   6.        Rainy        Cool               No
6   7.        Rainy        Mild               No
7   8.        Sunny         Hot              Yes
8   9.        Windy        Cool               No
9     10.     Windy        Cool               No
10    11.     Windy        Cool              Yes
11    12.     Windy        Mild              Yes
12    13.     Sunny         Hot              Yes
13    14.     Rainy        Cool               No

In [3]:
data['Possible_to_Play'] = data['Possible to Play'].apply(lambda x:1 if x=="Yes" else 0)
data

       S.N. Weather Temperature Possible to Play  Possible_to_Play
0   1.        Sunny         Hot              Yes                 1
1   2.        Windy        Cool              Yes                 1
2   3.        Rainy        Mild               No                 0
3   4.        Sunny         Hot              Yes                 1
4   5.        Sunny         Hot              Yes                 1
5   6.        Rainy        Cool               No                 0
6   7.        Rainy        Mild               No                 0
7   8.        Sunny         Hot              Yes                 1
8   9.        Windy        Cool               No                 0
9     10.     Windy        Cool               No                 0
10    11.     Windy        Cool              Yes                 1
11    12.     Windy        Mild              Yes                 1
12    13.     Sunny         Hot              Yes                 1
13    14.     Rainy        Cool               No                 0

In [4]:
#creating a dictionary for unique values of a column and giving it an ordinal values
temperature_dict = dict(zip(data['Temperature'].unique(),range(len(data['Temperature'].unique())))) 
temperature_dict

{'Hot': 0, 'Cool': 1, 'Mild': 2}

In [5]:
#applying lambda function in order to assign ordinal values to a column
data['Temperature_Ordinal'] = data['Temperature'].apply(lambda x: temperature_dict[x])

In [6]:
data

,S.N.,Weather,Temperature,Possible to Play,Possible_to_Play,Temperature_Ordinal
0,1.,Sunny,Hot,Yes,1,0
1,2.,Windy,Cool,Yes,1,1
2,3.,Rainy,Mild,No,0,2
3,4.,Sunny,Hot,Yes,1,0
4,5.,Sunny,Hot,Yes,1,0
5,6.,Rainy,Cool,No,0,1
6,7.,Rainy,Mild,No,0,2
7,8.,Sunny,Hot,Yes,1,0
8,9.,Windy,Cool,No,0,1
9,10.,Windy,Cool,No,0,1
10,11.,Windy,Cool,Yes,1,1
11,12.,Windy,Mild,Yes,1,2
12,13.,Sunny,Hot,Yes,1,0
13,14.,Rainy,Cool,No,0,1

In [7]:
#creating a dictionary for unique values of a column and giving it an ordinal values
weather_dict = dict(zip(data['Weather'].unique(),range(len(data['Weather'].unique())))) 
weather_dict

{'Sunny': 0, 'Windy': 1, 'Rainy': 2}

In [8]:
#applying lambda function in order to assign ordinal values to a column
data['Weather_Ordinal'] = data['Weather'].apply(lambda x: weather_dict[x])
data

,S.N.,Weather,Temperature,Possible to Play,Possible_to_Play,Temperature_Ordinal,Weather_Ordinal
0,1.,Sunny,Hot,Yes,1,0,0
1,2.,Windy,Cool,Yes,1,1,1
2,3.,Rainy,Mild,No,0,2,2
3,4.,Sunny,Hot,Yes,1,0,0
4,5.,Sunny,Hot,Yes,1,0,0
5,6.,Rainy,Cool,No,0,1,2
6,7.,Rainy,Mild,No,0,2,2
7,8.,Sunny,Hot,Yes,1,0,0
8,9.,Windy,Cool,No,0,1,1
9,10.,Windy,Cool,No,0,1,1
10,11.,Windy,Cool,Yes,1,1,1
11,12.,Windy,Mild,Yes,1,2,1
12,13.,Sunny,Hot,Yes,1,0,0
13,14.,Rainy,Cool,No,0,1,2

In [28]:
label=list(data['Possible_to_Play'])
label

[1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0]

In [29]:
#creating a function which returns weather and temperature in the form of tuple
def return_weather_temperature_tuple(weather_ord,temperature_ord):
    return weather_ord,temperature_ord

In [37]:
features=[]
for i in range(len(data['Weather_Ordinal'])):
    features.append(return_weather_temperature_tuple(data['Weather_Ordinal'][i],data['Temperature_Ordinal'][i]))
features

[(0, 0),
 (1, 1),
 (2, 2),
 (0, 0),
 (0, 0),
 (2, 1),
 (2, 2),
 (0, 0),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 2),
 (0, 0),
 (2, 1)]

In [31]:
# importing Gaussian Naive Bayes model from sklearn.naive_bayes
from sklearn.naive_bayes import GaussianNB

In [32]:
# creating a Gaussian Classifier
model = GaussianNB()

In [33]:
# training the model using the training sets
model.fit(features,label)

GaussianNB(priors=None, var_smoothing=1e-09)

In [41]:
predicted= model.predict([[0,2]]) # 0:Sunny, 2:Mild
print ("Predicted Value (Can go out to play):", "yes" if predicted==1 else "no")

Predicted Value (Can go out to play): yes